@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

:root{
    --colorfuente: #333333;
    --colortitulo: #ffffff;
    --claro: #FFB7C2;
    --oscuro: #FE889F;
    --fuente: 'Roboto Mono', monospace;
    --boton: #662d90;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    background-color: #eee;
}

nav{
    width: 100%;
    height: 8.0rem;
    background-color: var(--oscuro);
    display: grid;
    place-items: center;
}

.logo{
    padding-top: 0.7rem;
}

.logo img{
    width: 15.0rem;
    height: 8.0rem;
    margin: 0;
}

.carrito{
    position: absolute;
    right: 2.0rem;
}

.carrito img{
    width: 4.0rem;
    margin: 0;
}

.nav-menu{
    width: 100%;
    height: 3.0rem;
    background-color: var(--colortitulo);
    margin-bottom: 3.0rem;
    display: grid;
    place-items: center;
}

.nav-menu a{
    text-decoration: none;
    color: var(--colorfuente);
}

.nav-menu li{
    display: inline-block;
    list-style: none;
    font-size: 2.0rem;
    padding-left: 2.0rem;
    font-family: var(--fuente);
}

.nav-menu a:hover{
    color: var(--oscuro);
}

.nav-menu a:active{
    color: var(--oscuro);
}

.main-bienvenida{
    background-color: var(--claro);
    border-bottom: 0.2rem solid var(--oscuro);

    width: 100%;
    height: 20.0rem;
    padding: 2.0rem 5.0rem;
    display: flex;
    flex-wrap: wrap;
}

.main-bienvenida h1{
    color: var(--colortitulo);
    padding-bottom: 0.5rem;
    font-size: 2.6rem;
    font-family: var(--fuente);
}

.main-bienvenida img{
    width: 12.3rem;
    position: absolute;
    right: 0.1rem;
    top: 14.0rem;
}

.main-bienvenida p{
    margin-right: 5.0rem;
    font-family: var(--fuente);
}

.main-productos{
    width: 100%;
    height: 90.0rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
    padding: 3.0rem 5.0rem;
}

.main-productos h1{
    font-family: var(--fuente);
    color: var(--colorfuente);
    font-size: 2.6rem;
}

.producto1{
    background-color: var(--colortitulo);
    border-radius: 1.0rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    padding: 4.0rem;
    font-family: var(--fuente);
    width: 25.0rem;
    height: 250px;
    margin-top: 12.0rem;
}

.producto2{
    background-color: var(--colortitulo);
    border-radius: 1.0rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    padding: 4.0rem;
    font-family: var(--fuente);
    width: 25.0rem;
    height: 250px;
    margin-top: 17.0rem;
}

.producto1::after{
    position: absolute;
    bottom: 0;
    content: " ";
    background: black;
    width: 95%;
    height: 95%;
    filter: blur(10px);
    z-index: -1;
}

.producto1 p{
    position: relative;
    top: 1.0rem;
}

.producto1 img{
    width: 15.0rem;
    position: absolute;
    bottom: 20.0rem;
}

.producto1 label{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    top: 2.0rem;
}

.producto1 span{
    position: relative;
    margin: 0 auto;
    margin-bottom: 1.0rem;
    font-size: 1.4rem;
}

.producto1 button{
    width: 10.0rem;
    height: 2.5rem;
    border-radius: 5.0rem;
    color: var(--colortitulo);
    background-color: var(--boton);
    border: 0.1rem solid #321943;
}

.producto2::after{
    position: absolute;
    bottom: 0;
    content: " ";
    background: black;
    width: 95%;
    height: 95%;
    filter: blur(10px);
    z-index: -1;
}

.producto2 img{
    position: absolute;
    width: 18.0rem;
    bottom: 19.0rem;
    rotate: 8;
}

.producto2 p{
    position: relative;
    top: 2.0rem;
}

.producto2 label{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    position: relative;
    top: 3.0rem;
}

.producto2 span{
    position: relative;
    margin: 0 auto;
    margin-bottom: 1.0rem;
    font-size: 1.4rem;
}

.producto2 button{
    width: 10.0rem;
    height: 2.5rem;
    border-radius: 5.0rem;
    color: var(--colortitulo);
    background-color: var(--boton);
    border: 0.1rem solid #321943;
}

.main-contacto{
    width: 100%;
    height: 20.0rem;
    margin-bottom: 3.0rem;
    background-color: var(--claro);
    padding: 2.0rem 5.0rem;
}